Source: lernstick-ltsp-conf
Section: unknown
Priority: extra
Maintainer: Basil Stotz <stotz@amxa.ch>
Package: lernstick-ltsp-conf
Version: 2022-08-15-012014 
Architecture: amd64
Depends: curl 
Description: Setup and maintain a LTSP server on debian (and maybe ubuntu)
 Setup and maintain a LTSP server on ubuntu/debian (and maybe ubuntu) 
