[Unit]
Description=LTSP Update Config
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/ltsp/allinone-setup

[Install]
WantedBy=multi-user.target
